.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #9381FF;
    color: #fff;
}

.tablink {
    background-color: #9381FF;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;
    text-decoration: none;
}

    .tablink:hover {
        color: #FF958C;
        text-decoration: none;
        font-size: 17px;
    }

.tabActive {
    color: #FF958C;
    text-decoration: none;
    font-size: 17px;
}

    .tabActive:visited {
        color: #FF958C;
        text-decoration: none;
        font-size: 17px;
    }

    .tabActive:link {
        color: #FF958C;
        text-decoration: none;
        font-size: 17px;
    }

    