#tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-left: 10px;
    padding-right:10px;
}

    #tasks td, #tasks th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tasks tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tasks tr:hover {
        background-color: #ddd;
    }

    #tasks th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
