.container
{
    font-size: 1.2em;
}

.header
{
    text-align: center;
    color: cornflowerblue;
    padding-bottom: 10px;
}

.sponsors
{
    padding-bottom: 3em;
    padding-top: 3em;
}

.home_text
{
    padding-left: 3em;
}