#leaderboard {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #leaderboard td, #leaderboard th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #leaderboard tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #leaderboard tr:hover {
        background-color: #ddd;
    }

    #leaderboard th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
